<%= link_to 'Home', welcome_index_path %>
<p>
<strong>Name:</strong>
<%= @artist.name %>
</p>

<p>
<strong>Albums:</strong>
<br>
<% @artist.albums.each do |alb| %>
    <%= link_to alb.title, album_path(alb) %>
    <br>
<% end %>
</p>